In [7]:
# Q.1
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
b, c

(array([40, 40]), 46)

In [8]:
# Q.2
import re
s = 'ABCAC'

In [13]:
bool(re.search('A', s))

True

In [14]:
re.split('A', s)

['', 'BC', 'C']

In [64]:
# Q.3
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '\w(?=A{3})'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
    return result

result()

['C', 'F', 'B']

In [27]:
# Q.4
import pandas as pd
df = pd.Series(data=[4,7,-5,3], index=['d','b','a','c'])
df

d    4
b    7
a   -5
c    3
dtype: int64

In [28]:
df['d']

4

In [29]:
df.iloc[0]

4

In [30]:
df[0]

4

In [31]:
df.index[0]

'd'

In [ ]:
# Q.4
#df.index[0]

In [45]:
# Q.5
s1 =  pd.Series(data=[6,3,5], index=['a','c','d'])
s2 =  pd.Series(data=[4,7,-5,3], index=['b','d','a','c'])

In [46]:
s3 = s1.add(s2)
s3

a     1.0
b     NaN
c     6.0
d    12.0
dtype: float64

In [47]:
s1.add(s2, fill_value = 0)

a     1.0
b     4.0
c     6.0
d    12.0
dtype: float64

In [37]:
s3['h'] >= s3['c']

False

In [48]:
# Q.7
s3['a':'c']

a    1.0
b    NaN
c    6.0
dtype: float64

In [49]:
s3[['b','c','d']]

b     NaN
c     6.0
d    12.0
dtype: float64

In [50]:
s3[s3 <= 3][s3 > 0]

a    1.0
dtype: float64

In [51]:
s3[1:3]

b    NaN
c    6.0
dtype: float64

In [52]:
# Q.8
df = pd.DataFrame({'a':[5,5,71,67], 'b':[6,82,31,37], 'c':[20,28,92,49]}, index=['R1','R2','R3','R4'])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [55]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [57]:
# Q.10
df = pd.DataFrame({'item':['item_1']*3 + ['item_2']*3, 'store':['A','B','C','A','B','C'],
                   'quantity sold':[10.0,20.0,np.nan,5.0,10.0,15.0]})
df

     item store  quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [63]:
df.groupby('item').sum().iloc[0]['quantity sold']

30.0